<div class="dashboard">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Total Energy Production</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>{{ totalEnergyProduction }} kWH</h3>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Energy Effeciency</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>{{ effeciency }} %</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Peak Production Times</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ peakTime }} </h3>
        </mat-card-content>
      </mat-card>
  
    <!-- Add more cards as needed -->
  </div>
  